In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('F:\Surveydata_test.csv')

In [3]:
df

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,Onboard_service,Leg_room,Baggage_handling,Checkin_service,Cleanliness,Online_boarding
0,99900001,acceptable,Green Car,acceptable,acceptable,manageable,need improvement,excellent,good,excellent,excellent,excellent,excellent,good,excellent,poor
1,99900002,extremely poor,Ordinary,good,poor,manageable,acceptable,poor,acceptable,acceptable,excellent,acceptable,good,acceptable,excellent,acceptable
2,99900003,excellent,Ordinary,excellent,excellent,very convinient,excellent,excellent,excellent,need improvement,need improvement,need improvement,need improvement,good,need improvement,excellent
3,99900004,acceptable,Green Car,excellent,acceptable,very convinient,poor,acceptable,excellent,poor,acceptable,need improvement,excellent,excellent,excellent,poor
4,99900005,excellent,Ordinary,extremely poor,excellent,need improvement,excellent,excellent,excellent,excellent,NaN,acceptable,excellent,excellent,excellent,excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,need improvement,Green Car,excellent,need improvement,manageable,acceptable,need improvement,acceptable,acceptable,good,excellent,good,acceptable,good,acceptable
35598,99935599,need improvement,Ordinary,need improvement,good,need improvement,acceptable,excellent,excellent,good,good,good,good,acceptable,good,good
35599,99935600,good,Green Car,extremely poor,good,need improvement,need improvement,good,poor,need improvement,poor,acceptable,poor,poor,excellent,need improvement
35600,99935601,excellent,Ordinary,excellent,excellent,Inconvinient,acceptable,excellent,good,excellent,excellent,excellent,excellent,acceptable,excellent,good
35601,99935602,good,Ordinary,acceptable,good,manageable,poor,good,poor,poor,acceptable,good,good,need improvement,good,poor

In [4]:
len(df)

35602

In [5]:
df1 = pd.read_csv('F:\Traveldata_test.csv')
df1.head()

,ID,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,Female,NaN,36.0,Business travel,Business,532,0.0,0.0
1,99900002,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0

In [6]:
final_df = pd.merge(df,df1,on='ID',how = 'left')
final_df

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,acceptable,Green Car,acceptable,acceptable,manageable,need improvement,excellent,good,excellent,...,excellent,poor,Female,NaN,36.0,Business travel,Business,532,0.0,0.0
1,99900002,extremely poor,Ordinary,good,poor,manageable,acceptable,poor,acceptable,acceptable,...,excellent,acceptable,Female,disloyal Customer,21.0,Business travel,Business,1425,9.0,28.0
2,99900003,excellent,Ordinary,excellent,excellent,very convinient,excellent,excellent,excellent,need improvement,...,need improvement,excellent,Male,Loyal Customer,60.0,Business travel,Business,2832,0.0,0.0
3,99900004,acceptable,Green Car,excellent,acceptable,very convinient,poor,acceptable,excellent,poor,...,excellent,poor,Female,Loyal Customer,29.0,Personal Travel,Eco,1352,0.0,0.0
4,99900005,excellent,Ordinary,extremely poor,excellent,need improvement,excellent,excellent,excellent,excellent,...,excellent,excellent,Male,disloyal Customer,18.0,Business travel,Business,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,need improvement,Green Car,excellent,need improvement,manageable,acceptable,need improvement,acceptable,acceptable,...,good,acceptable,Male,Loyal Customer,8.0,Personal Travel,Eco,1334,0.0,0.0
35598,99935599,need improvement,Ordinary,need improvement,good,need improvement,acceptable,excellent,excellent,good,...,good,good,Female,Loyal Customer,53.0,Business travel,Business,1772,0.0,0.0
35599,99935600,good,Green Car,extremely poor,good,need improvement,need improvement,good,poor,need improvement,...,excellent,need improvement,Male,disloyal Customer,22.0,Business travel,Eco,1180,0.0,0.0
35600,99935601,excellent,Ordinary,excellent,excellent,Inconvinient,acceptable,excellent,good,excellent,...,excellent,good,Female,Loyal Customer,67.0,Personal Travel,Eco,420,23.0,16.0
35601,99935602,good,Ordinary,acceptable,good,manageable,poor,good,poor,poor,...,good,poor,Male,NaN,20.0,Personal Travel,Eco,1680,0.0,0.0

In [7]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35580 non-null  object
 2   Seat_Class               35602 non-null  object
 3   Arrival_time_convenient  32277 non-null  object
 4   Catering                 32245 non-null  object
 5   Platform_location        35590 non-null  object
 6   Onboardwifi_service      35590 non-null  object
 7   Onboard_entertainment    35594 non-null  object
 8   Online_support           35576 non-null  object
 9   Onlinebooking_Ease       35584 non-null  object
 10  Onboard_service          32730 non-null  object
 11  Leg_room                 35577 non-null  object
 12  Baggage_handling         35562 non-null  object
 13  Checkin_service          35580 non-null  object
 14  Cleanliness              35600 non-null  object
 15  Online_boarding          35600 non-null  object
 16  Gender                   35572 non-null  object
 17  CustomerType             32219 non-null  object
 18  Age                      35591 non-null  float64
 19  TypeTravel               32154 non-null  object
 20  Travel_Class             35602 non-null  object
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35573 non-null  float64
 23  ArrivalDelay_in_Mins     35479 non-null  float64
dtypes: float64(3), int64(2), object(19)
memory usage: 6.8+ MB

In [8]:
final_df.isnull().sum()

ID                            0
Seat_comfort                 22
Seat_Class                    0
Arrival_time_convenient    3325
Catering                   3357
Platform_location            12
Onboardwifi_service          12
Onboard_entertainment         8
Online_support               26
Onlinebooking_Ease           18
Onboard_service            2872
Leg_room                     25
Baggage_handling             40
Checkin_service              22
Cleanliness                   2
Online_boarding               2
Gender                       30
CustomerType               3383
Age                          11
TypeTravel                 3448
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       29
ArrivalDelay_in_Mins        123
dtype: int64

In [9]:
final_df['Seat_comfort']=final_df['Seat_comfort'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [10]:
final_df['Arrival_time_convenient']=final_df['Arrival_time_convenient'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [11]:
final_df['Catering']=final_df['Catering'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [12]:
final_df['Platform_location']=final_df['Platform_location'].map({'very inconvinient':0,'Inconvinient':1,'need improvement':2,'manageable':3,'Convinient':4,'very convinient':5})

In [13]:
final_df['Onboardwifi_service']=final_df['Onboardwifi_service'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [14]:
final_df['Onboard_entertainment']=final_df['Onboard_entertainment'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [15]:
final_df['Online_support']=final_df['Online_support'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [16]:
final_df['Onlinebooking_Ease']=final_df['Onlinebooking_Ease'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [17]:
final_df['Onboard_service']=final_df['Onboard_service'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [18]:
final_df['Leg_room']=final_df['Leg_room'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [19]:
final_df['Baggage_handling']=final_df['Baggage_handling'].map({'poor':0,'need improvement':1,'acceptable':2,'good':3,'excellent':4})

In [20]:
final_df['Checkin_service']=final_df['Checkin_service'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [21]:
final_df['CustomerType']=final_df['CustomerType'].map({'disloyal Customer':0,'Loyal Customer':1})

In [22]:
final_df['Online_boarding']=final_df['Online_boarding'].map({'extremely poor':0,'poor':1,'need improvement':2,'acceptable':3,'good':4,'excellent':5})

In [23]:
final_df['Gender']=final_df['Gender'].map({'Female':0,'Male':1})

In [24]:
final_df['TypeTravel']=final_df['TypeTravel'].map({'Personal Travel':0,'Business travel':1})

In [25]:
final_df['Seat_Class']=final_df['Seat_Class'].map({'Ordinary':0,'Green Car':1})

In [26]:
final_df.isnull().sum()

ID                            0
Seat_comfort                 22
Seat_Class                    0
Arrival_time_convenient    3325
Catering                   3357
Platform_location            12
Onboardwifi_service          12
Onboard_entertainment         8
Online_support               26
Onlinebooking_Ease           18
Onboard_service            2872
Leg_room                     25
Baggage_handling             40
Checkin_service              22
Cleanliness                   2
Online_boarding               2
Gender                       30
CustomerType               3383
Age                          11
TypeTravel                 3448
Travel_Class                  0
Travel_Distance               0
DepartureDelay_in_Mins       29
ArrivalDelay_in_Mins        123
dtype: int64

In [27]:
final_df['Travel_Class']=final_df['Travel_Class'].map({'Business':0,'Eco':1})

In [30]:
final_df['Cleanliness'].unique()

array(['excellent', 'need improvement', 'acceptable', 'good', 'poor', nan],
      dtype=object)

In [31]:
final_df['Cleanliness']=final_df['Cleanliness'].map({'poor':0,'need improvement':1,'acceptable':2,'good':3,'excellent':4})

In [32]:
final_df

,ID,Seat_comfort,Seat_Class,Arrival_time_convenient,Catering,Platform_location,Onboardwifi_service,Onboard_entertainment,Online_support,Onlinebooking_Ease,...,Cleanliness,Online_boarding,Gender,CustomerType,Age,TypeTravel,Travel_Class,Travel_Distance,DepartureDelay_in_Mins,ArrivalDelay_in_Mins
0,99900001,3.0,1,3.0,3.0,3.0,2.0,5.0,4.0,5.0,...,4.0,1.0,0.0,NaN,36.0,1.0,0,532,0.0,0.0
1,99900002,0.0,0,4.0,1.0,3.0,3.0,1.0,3.0,3.0,...,4.0,3.0,0.0,0.0,21.0,1.0,0,1425,9.0,28.0
2,99900003,5.0,0,5.0,5.0,5.0,5.0,5.0,5.0,2.0,...,1.0,5.0,1.0,1.0,60.0,1.0,0,2832,0.0,0.0
3,99900004,3.0,1,5.0,3.0,5.0,1.0,3.0,5.0,1.0,...,4.0,1.0,0.0,1.0,29.0,0.0,1,1352,0.0,0.0
4,99900005,5.0,0,0.0,5.0,2.0,5.0,5.0,5.0,5.0,...,4.0,5.0,1.0,0.0,18.0,1.0,0,1610,17.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35597,99935598,2.0,1,5.0,2.0,3.0,3.0,2.0,3.0,3.0,...,3.0,3.0,1.0,1.0,8.0,0.0,1,1334,0.0,0.0
35598,99935599,2.0,0,2.0,4.0,2.0,3.0,5.0,5.0,4.0,...,3.0,4.0,0.0,1.0,53.0,1.0,0,1772,0.0,0.0
35599,99935600,4.0,1,0.0,4.0,2.0,2.0,4.0,1.0,2.0,...,4.0,2.0,1.0,0.0,22.0,1.0,1,1180,0.0,0.0
35600,99935601,5.0,0,5.0,5.0,1.0,3.0,5.0,4.0,5.0,...,4.0,4.0,0.0,1.0,67.0,0.0,1,420,23.0,16.0
35601,99935602,4.0,0,3.0,4.0,3.0,1.0,4.0,1.0,1.0,...,3.0,1.0,1.0,NaN,20.0,0.0,1,1680,0.0,0.0

In [33]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35602 entries, 0 to 35601
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       35602 non-null  int64
 1   Seat_comfort             35580 non-null  float64
 2   Seat_Class               35602 non-null  int64
 3   Arrival_time_convenient  32277 non-null  float64
 4   Catering                 32245 non-null  float64
 5   Platform_location        35590 non-null  float64
 6   Onboardwifi_service      35590 non-null  float64
 7   Onboard_entertainment    35594 non-null  float64
 8   Online_support           35576 non-null  float64
 9   Onlinebooking_Ease       35584 non-null  float64
 10  Onboard_service          32730 non-null  float64
 11  Leg_room                 35577 non-null  float64
 12  Baggage_handling         35562 non-null  float64
 13  Checkin_service          35580 non-null  float64
 14  Cleanliness              35600 non-null  float64
 15  Online_boarding          35600 non-null  float64
 16  Gender                   35572 non-null  float64
 17  CustomerType             32219 non-null  float64
 18  Age                      35591 non-null  float64
 19  TypeTravel               32154 non-null  float64
 20  Travel_Class             35602 non-null  int64
 21  Travel_Distance          35602 non-null  int64
 22  DepartureDelay_in_Mins   35573 non-null  float64
 23  ArrivalDelay_in_Mins     35479 non-null  float64
dtypes: float64(20), int64(4)
memory usage: 6.8 MB

In [34]:
final_df.drop(['ID'],axis=1,inplace=True)
final_df.drop(['DepartureDelay_in_Mins'],axis=1,inplace=True)
final_df.drop(['ArrivalDelay_in_Mins'],axis=1,inplace=True)

In [35]:
X = final_df.iloc[:,1:]

In [36]:
y = final_df.iloc[:,:1]

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=0.33, random_state=123456)

# LDA

In [39]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [40]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [41]:
LDA = LinearDiscriminantAnalysis()
model_LDA = LDA.fit(X_train,y_train)
model_LDA

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').